<form class="mt-5" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="inputTitle">Name</label>
        <input type="text" value="<%= book.title %>" name="title" class="form-control" id="inputTitle">
    </div>
    <div class="form-group">
        <label for="inputAuthors">Author</label>
        <input type="text" value="<%= book.authors %>" name="authors" class="form-control" id="inputAuthors">
    </div>
    <div class="form-group">
        <label for="inputDesc">Description</label>
        <textarea rows="3" name="description" class="form-control" id="inputDesc"><%= book.description %></textarea>
    </div>
    <div class="form-group">
        <label for="inputFileBook">File</label>
        <input type="file" value="<%= book.fileBook %>" name="fileBook" class="form-control" id="inputFileBook">
    </div>
    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
